/_private/
/.settings
/DisplayObjects/mobile/*
!/DisplayObjects/mobile/assets

/csv/*

#c8oforms_standalone
c8oforms_standalone/couchdb/*
c8oforms_standalone/workspace/*
!c8oforms_standalone/docker-compose.yml
!c8oforms_standalone/couchdb/.gitkeep
!c8oforms_standalone/workspace/projects/.gitkeep
.gradle/
/DisplayObjects/pwas/*
/csv/**



/_private/
/.settings
/.gradle
/.project

/DisplayObjects/mobile/*
!/DisplayObjects/mobile/assets

# disable this for custom Flashupdate
/Flashupdate

# enable this to share md5 of built files
# !/Flashupdate/md5.json

# disable this for custom config.xml
/DisplayObjects/platforms/iOS/config.xml
/DisplayObjects/platforms/Android/config.xml

/oas2/
/oas3/

/build/
