/_private/
/.settings
/DisplayObjects/mobile/*
!/DisplayObjects/mobile/assets

/csv/*

#c8oforms_standalone
c8oforms_standalone/couchdb/*
c8oforms_standalone/workspace/*
!c8oforms_standalone/docker-compose.yml
!c8oforms_standalone/couchdb/.gitkeep
!c8oforms_standalone/workspace/projects/.gitkeep
.gradle/
/DisplayObjects/pwas/*
/csv/**