/_private/
/.settings
/DisplayObjects/mobile/*
!/DisplayObjects/mobile/assets

# disable this for custom Flashupdate

# disable this for custom config.xml
/csv/*

#c8oforms_standalone
c8oforms_standalone/couchdb/*
c8oforms_standalone/workspace/*
!c8oforms_standalone/docker-compose.yml
!c8oforms_standalone/couchdb/.gitkeep
!c8oforms_standalone/workspace/projects/.gitkeep