.styleBadge{
	/* comes from ion-badge style */
	padding: 3px 8px;
    text-align: center;
    display: inline-block;
    min-width: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    /* custom */
    user-select: contain !important;
    border-radius: 10px 10px 10px 10px;
}
.badge-md-convertigo {
    color: #fff;
    background-color: #0cbbe7;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 120px;
  background-color: #0cbbe7;
  color: #fff;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  padding: 5px 0;
  
  
  padding: 3px 8px;
  text-align: center;
  display: inline-block;
  min-width: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}