ion-badge{
display: inline-block; padding: 0 10px; height: 30px; font-size: 16px; line-height: 30px; border-radius: 25px; background-color: #f1f1f1;
cusror:pointer;
}
span:hover{
	cusror:pointer;
}
p {
	display: inline-block;
}