.styleBadge{
	/* comes from ion-badge style */
	padding: 3px 8px;
    text-align: center;
    display: inline-flex;
    justify-content:center;
    align-items: center;
    min-width: 10px;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    /* custom */
    user-select: contain !important;
    border-radius: 10px 10px 10px 10px;
 
    cursor:grab !important;
}
.badge-md-convertigo {
    color: #fff;
    background-color: #3880ff;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 120px;
  background-color: #3880ff;
  color: #fff;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  padding: 5px 0;
  
  
  padding: 3px 8px;
  text-align: center;
  display: inline-block;
  min-width: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
p{
	display: inline-block;
}
.clickable-carret{
	cursor:pointer !important;
	height:15px;
	stroke: #000;
	fill: #fff;
	display: inline !important;
}
.icn{
	fill: #fff;
	height:15px;
	stroke: #000;
}
.tox-tinymce--toolbar-sticky-off{
	display:none !important;
}