.styleBadge{
	/* comes from ion-badge style */
	padding: 3px 8px;
    text-align: center;
    display: inline-block;
    min-width: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    /* custom */
    user-select: contain !important;
    border-radius: 10px 10px 10px 10px;
}
.badge-md-convertigo {
    color: #fff;
    background-color: #0cbbe7;
}
